[color]
    ui = true
    branch = auto
    diff = auto
    status = auto
[alias]
    co = checkout
    ci = commit
    st = status
    br = branch
    hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short --all --oneline --decorate
    today = log --since=midnight --author='Yuki Adachi' --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short --all --oneline --decorate
    branch-name = "!git rev-parse --abbrev-ref HEAD"
    f = "!git fetch --all --prune && git rebase origin/$(git branch-name)"
    p = "!git push origin $(git branch-name)"
[core]
    excludesfile = ~/.gitignore
[push]
	default = nothing
[include]
    path = ~/.gitconfig.local
[merge]
	ff = false
	tool = vimdiff3
[mergetool "vimdiff3"]
	cmd = ~/bin/git_merge_wrapper3 \"$MERGED\" \"$LOCAL\" \"$BASE\" \"$REMOTE\"
[mergetool]
	keepBackup = false
