.vim/backupdir/*
.vim/backupdir/.*
.vim/backupdir/*.*
.vim/bundle/
.vim/data/yankring/yankring_history_v2.txt
.vim/data/unite/*
.vim/data/yanktmp/yanktmp
.vim/data/neocomplcache/*
.vim/data/NERDTree/.NERDTreeBookmarks
.vim/data/vim-ref/php-chunked-xhtml/
.vim/.netrwhist
.vim/data/neocomplete/*
.vim/data/view/*
.tags
GPATH
GRTAGS
GSYMS
GTAGS
elastica.sh
que.sh
deleteCacheAndLog
docs/
makeTags
maketags
.gitconfig.local
.config/fish/fishd.*
.config/fish/functions/git_porcelain.fish
.config/fish/fish_history
tmux-client-*.log
