[color]
	ui = true
	branch = auto
	diff = auto
	status = auto
[alias]
	co = checkout
	ci = commit
	st = status
  # ログを表示する
	hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short --all --oneline --decorate
  # 今日コミットした変更を表示する
	today = log --since=midnight --author='Yuki Adachi' --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short --all --oneline --decorate
  # fetch & rebase
	f                 = "!git fetch --all --prune && git rebase origin/$(git branch-name)"
  # push & open github
	p                 = "!git push origin HEAD && type gh > /dev/null && gh pr create --web"
  # 現在のリポジトリを表示する
	repository        = "!git remote -v|grep origin|grep fetch|awk -F '.git ' '{print $1}'|awk -F '/' '{print $NF}'"
  # 現在のプロジェクト(org)を表示する
	project           = "!git remote -v|grep origin|grep fetch|awk -F 'https://github.com/|@github.com:|@bitbucket.org:' '{print $2}'|awk -F '/' '{print $1}'"
  # 現在のブランチ名を表示する
	branch-name       = "!git rev-parse --abbrev-ref HEAD"
  # 現在のgit hashを表示する
	short-hash        = "!git rev-parse --short HEAD"
  # 現在の$project/$repository/$branchのURLを表示する
	url-github        = "!echo https://github.com/$(git project)/$(git repository)/tree/$(git branch-name)"
  # master|mainをcheckoutする
	master            = "!git checkout master 2>/dev/null || git checkout main"
  # main|masterをcheckoutする
	main              = "!git master"
[push]
	default = nothing
[include]
	path = ~/.gitconfig.local
#[init]
#  templatedir = ~/.git_template
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[mergetool "vimdiff3"]
	cmd = ~/bin/git_merge_wrapper3 \"$MERGED\" \"$LOCAL\" \"$BASE\" \"$REMOTE\"
[mergetool]
	keepBackup = false
[pull]
	ff = only
	rebase = false
[diff]
	algorithm = histogram
	colorMoved = dimmed-zebra
[core]
#	  editor = code --wait
	editor = vim
	excludesFile = ~/.gitignore
[diff]
	tool = vscode
[difftool "vscode"]
	cmd = code --wait --diff $LOCAL $REMOTE
[merge]
	tool = vscode
[mergetool "vscode"]
	cmd = code --wait $MERGED
[init]
	defaultBranch = main
[user]
	name = Yuki Adachi
	email = 177159+yuki777@users.noreply.github.com
