.vim/backupdir/*
.vim/backupdir/.*
.vim/backupdir/*.*
.vim/bundle/
.vim/data/yankring/yankring_history_v2.txt
.vim/data/unite/*
.vim/data/yanktmp/yanktmp
.vim/data/neocomplcache/*
.vim/data/NERDTree/.NERDTreeBookmarks
.vim/data/vim-ref/php-chunked-xhtml/
.vim/.netrwhist
.vim/data/neocomplete/*
.vim/data/view/*
.tags
GPATH
GRTAGS
GSYMS
GTAGS
tmux-client-*.log
.envrc
.config/nvim/nvim
.config/starship.toml
.config/starship/custom.toml
.prettierignore
.php-version
.DS_Store
.vscode
.venv
azurite
